
/* Inline #9 | http://localhost/TestGood/ */

.menu-menu-1-container {
    background-color: #333333;
    padding-left: 25px;
}

.menu-menu-1-container li a{
    background-color: #333333;
    padding: 15px 15px 15px 15px;
}
  
#primary-menu li a {
    color: #ccccc7;
  }

#primary-menu li a:hover {
    color: #c8db35;
  }

body {
      color: #000;
}

.initial-image {
    background: url(/images/img.jpg);
}

.continuar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #333333;
  border: none;
  color: #ccb991  ;
  padding: 5px 24px;
  text-decoration: none;
  cursor: pointer;
  margin: 30px 0;
  border-radius: 5px;
}

.second-container {
  margin: 0 300px;
  padding: 0 0 30px 0;
}

.phrase, .author-phrase {
  text-align: right;
}

.content {
  column-count: 2;
  padding-top: 30px;
}
